<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- This handler section is for routing requests through iisnode -->
      <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- This rule is required to support SPA-style URLs -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^index.js\/debug[\/]?" />
        </rule>

        <!-- Main rule to proxy all requests to the Node.js application -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="index.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- You can configure additional settings here, such as logging, compression, etc. -->
    <!-- See https://github.com/tjanczuk/iisnode/blob/master/src/samples/configuration/web.config for more examples -->

  </system.webServer>
</configuration>